.gitignore
/.git
/assets/drinks.jpg
/assets/food.jpg
/assets/glacier.jpg
/assets/ropes.jpg
/assets/snowshoeing.jpg
/assets/winter.jpg
/assets/climb-1.jpg
/assets/climb-2.jpg
/assets/climb-3.jpg
/assets/climb-4.jpg
/assets/climb-5.jpg
/assets/climb-6.jpg
/assets/climb-7.jpg
/assets/climb-8.jpg
/assets/climb-9.jpg
/assets/nature-1.jpg
/assets/nature-2.jpg
/assets/nature-3.jpg
/assets/nature-4.jpg
/assets/advent-1.jpg
/assets/advent-2.jpg
/assets/advent-3.jpg
/assets/advent-4.jpg
/assets/advent-5.jpg
